<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true">
	<testsuites>
		<testsuite name="unit">
			<directory>Unit</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>../lib</directory>
		</include>
	</source>
</phpunit>
